# Compiler Output Directories

Source/lib/
Source/bin/


# .NET Compiler Output Directories

Source/AppsNet/RebaserAppNet/obj/
Source/AppsNet/UpdateAssemblyVersionAppNet/obj/
Source/Forms/OpenZipForms/obj/
Source/Forms/PepForms/obj/


# 3rd Party Output Directories

Source/ThirdParty/zlib/*


# Microsoft Visual Studio generated project file

Source/**/*.vcxproj.user
Source/**/*.vcxproj.filters
Source/**/.vs
