/***************************************************************************/
/*  Copyright (C) 2007-2013 Kevin Eshbach                                  */
/***************************************************************************/

#include <windows.h>

#include <Includes/UtVersion.h>

#ifdef RC_INVOKED

#if DBG
#define VER_DBG VS_FF_DEBUG
#else
#define VER_DBG 0
#endif

/* Version Information */

VS_VERSION_INFO VERSIONINFO
FILEVERSION    CUtMajorVersion, CUtMinorVersion, 0, 0
PRODUCTVERSION CUtMajorVersion, CUtMinorVersion, 0, 0
FILEFLAGSMASK  VS_FFI_FILEFLAGSMASK
FILEFLAGS      VER_DBG
FILEOS         VOS_NT
FILETYPE       VFT_DLL
FILESUBTYPE    VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "Comments",         "PEP Devices v" CUtVersionString
            VALUE "CompanyName",      "Kevin Eshbach"
            VALUE "FileDescription",  "PEP Devices"
            VALUE "FileVersion",      CUtVersionString
            VALUE "InternalName",     "UtPepDevices.dll"
            VALUE "LegalCopyright",   CUtCopyrightString
            VALUE "OriginalFilename", "UtPEPDevices.dll"
            VALUE "ProductName",      "PEP Devices v" CUtVersionString
            VALUE "ProductVersion",   "v" CUtVersionString
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 0x04b0
    END
END

#endif /* end of RC_INVOKED */

/***************************************************************************/
/*  Copyright (C) 2007-2013 Kevin Eshbach                                  */
/***************************************************************************/
