/***************************************************************************/
/*  Copyright (C) 2007-2018 Kevin Eshbach                                  */
/***************************************************************************/

#include <windows.h>

#include <Includes/UtVersion.h>

/* Manifest File */

#define IDR_MANIFEST 1

#if defined(NDEBUG)

#if defined(x86)
IDR_MANIFEST RT_MANIFEST "../../lib/Release/x86/TestListPorts/TestListPorts.manifest"
#elif defined(x64)
IDR_MANIFEST RT_MANIFEST "../../lib/Release/x64/TestListPorts/TestListPorts.manifest"
#else
#error Unsupported architecture
#endif
#else

#if defined(x86)
IDR_MANIFEST RT_MANIFEST "../../lib/Debug/x86/TestListPorts/TestListPorts.manifest"
#elif defined(x64)
IDR_MANIFEST RT_MANIFEST "../../lib/Debug/x64/TestListPorts/TestListPorts.manifest"
#else
#error Unsupported architecture
#endif

#endif

#ifdef RC_INVOKED

#if DBG
#define VER_DBG VS_FF_DEBUG
#else
#define VER_DBG 0
#endif

/* Version Information */

VS_VERSION_INFO VERSIONINFO
FILEVERSION    CUtMajorVersion, CUtMinorVersion, 0, 0
PRODUCTVERSION CUtMajorVersion, CUtMinorVersion, 0, 0
FILEFLAGSMASK  VS_FFI_FILEFLAGSMASK
FILEFLAGS      VER_DBG
FILEOS         VOS_NT
FILETYPE       VFT_APP
FILESUBTYPE    VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "Comments",         "Test List Ports v" CUtVersionString
            VALUE "CompanyName",      "Kevin Eshbach"
            VALUE "FileDescription",  "Test List Ports"
            VALUE "FileVersion",      CUtVersionString
            VALUE "InternalName",     "TestListPorts.exe"
            VALUE "LegalCopyright",   CUtCopyrightString
            VALUE "OriginalFilename", "TestListPorts.exe"
            VALUE "ProductName",      "Test List Ports v" CUtVersionString
            VALUE "ProductVersion",   "v" CUtVersionString
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 0x04b0
    END
END

#endif /* end of RC_INVOKED */

/***************************************************************************/
/*  Copyright (C) 2007-2018 Kevin Eshbach                                  */
/***************************************************************************/
